%body
  /
    \=========================
    PRE LOADER
    \==============================
  .preloader
    .status
      .loader
        %svg.circular{:viewbox => "25 25 50 50"}
          %circle.path{:cx => "50", :cy => "50", :fill => "none", :r => "20", "stroke-miterlimit" => "10", "stroke-width" => "3"}
  /
    \=========================
    SECTION: HOME / HOMEPAGE
    \==============================
  %section#home.home.fixed-bg
    .color-overlay
      / COLOR OVERLAY
      / NAVIGATION
      .navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top.sticky-navigation{:role => "navigation"}
        .container
          .navbar-header
            / NAVBAR EXPAND COLLAPSE ON MOBILE
            %button.navbar-toggle{"data-target" => "#alexis-navigation", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon.icon-menu
            / LOGO
            %a.navbar-brand{:href => "#"}
              %img{:alt => "LOGO", :src => image_path("logo.png")}/
          #alexis-navigation.navbar-collapse.collapse
            / NAVIGATION LINK
            %ul#internal-scroll.nav.navbar-nav.navbar-right.main-navigation
              %li
                %a{:href => "#home"} 首页
              %li
                %a{:href => "#about"} 关于
              %li
                %a{:href => "#services"} 服务
              %li
                %a{:href => "#team"} 团队
              %li
                %a{:href => "#contact"} 联系
              / <li><a href="http://example.com" class="external">External Link Example</a></li>
        / /END CONTAINER
      / /END NAIVATION
      .container
        .row
          .col-lg-10.col-lg-offset-1.col-md-12
            / INTRO HEADING
            %h1.intro.white-text.text-center 全心服务，为顾客的幸福而幸福。
            / CALL TO ACTION
            .cta.smooth-scroll
              %a.btn.btn-default.standard-button.red-button{:href => "#team"} 团队
              %a.btn.btn-default.standard-button.green-button{:href => "#services"} 服务
        .row.text-center
          / 3 FEATURES ON HOMEPAGE
          .home-features
            / SINGLE FEATURE
            .col-md-4.col-sm-4
              .single-feature
                .icon.green-text
                  %span.icon.icon-money-regular
                  / ICON
                %h6.green-text.uppercase 价格最优惠
            / SINGLE FEATURE
            .col-md-4.col-sm-4
              .single-feature
                .icon.purple-text
                  %span.icon.icon-clock-regular
                  / ICON
                %h6.purple-text.uppercase 送货最及时
            / SINGLE FEATURE
            .col-md-4.col-sm-4
              .single-feature
                .icon.yellow-text
                  %span.icon.icon-happy-smiley-streamline
                  / ICON
                %h6.yellow-text.uppercase 满意度保证
        / END OF 3 FEATURES
  /
    \=========================
    SECTION: ABOUT US
    \==============================
  %section#about.about-us
    .container
      .row
        / FEATURED IMAGE AREA
        .col-lg-6.visible-lg
          .featured-image.red-gradient-overlay
            %img{:alt => "", :src => image_path("about-us.jpg")}/
            / ABOUT US FEATURED IMAGE
            .image-border
        / ABOUT US BOX
        .col-lg-7.col-sm-12.overflow-box.pull-right
          .about-box.diffuse-shadow.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            .about-content
              / SECTION NUMBER
              .section-number
                01
              / SECTION HEADING
              %h2.section-heading.text-left 关于我们。
              / PARAGRAPH
              %p.text-left
                玉林市全客福商贸有限责任公司是一家集乳制品、保健品、糖果、休闲食品、日化洗涤系列、品牌高档月饼为一体的专营公司。
                %br/
                %br/
                创建于 1997 年，是广西玉林地区最专业的综合供应商。二十年来，一直以便捷、诚信的服务，并结合互联网高新科技，为广大顾客和合作伙伴提供愉悦的批发零售体验！
            .four-lines
              .line.red-line-bottom
              .line.green-line-bottom
              .line.purple-line-bottom
              .line.yellow-line-bottom
  /
    \=========================
    SECTION: SERVICES
    \==============================
  %section#services.our-focus.bgcolor-2
    .container
      / SECTION NUMBER
      .section-number.centered-number
        02
      / SECTION HEADER
      .section-header
        %h2 我们的服务
        .sub-heading
          我们了解您的需求并提供品质服务。
      .row.focuses
        / SINGLE FOCUS COLUMN
        .col-lg-3.col-sm-6.col-xs-12
          .single-focus.white-bg.diffuse-shadow.red-line-bottom.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            / ICON
            .icon.red-text
              %span.icon.icon-basic-postcard-multiple
            / HEADING
            %h5 品牌经销
            / DETAILS
            %p
              二十年经销商经验，广阔且高效的销售渠道。
        / SINGLE FOCUS COLUMN
        .col-lg-3.col-sm-6.col-xs-12
          .single-focus.white-bg.diffuse-shadow.green-line-bottom.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            / ICON
            .icon.green-text
              %span.icon.icon-basic-map
            / HEADING
            %h5 货运配送
            / DETAILS
            %p
              玉林周边地区货运配送，快速准确。
        / SINGLE FOCUS COLUMN
        .col-lg-3.col-sm-6.col-xs-12
          .single-focus.white-bg.diffuse-shadow.purple-line-bottom.wow.fadeInDown{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            / ICON
            .icon.purple-text
              %span.icon.icon-camera-regular
            / HEADING
            %h5 经验指导
            / DETAILS
            %p
              与广大新老经销商分享经验指导，学习互助。
        / SINGLE FOCUS COLUMN
        .col-lg-3.col-sm-6.col-xs-12
          .single-focus.white-bg.diffuse-shadow.yellow-line-bottom.wow.fadeInRight{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            / ICON
            .icon.yellow-text
              %span.icon.icon-unie16d
            / HEADING
            %h5 合作共赢
            / DETAILS
            %p
              为各地超市和终端供货，为厂家提升销量
  /
    \=========================
    SECTION: TEAM
    \==============================
  %section#team.team.bgcolor-2
    .container
      / SECTION NUMBER
      .section-number.centered-number
        03
      / SECTION HEADER
      .section-header
        %h2 领导团队
        .sub-heading
          因为专业，所以专注
      .row
        / TEAM MEMBER LIST
        .member-list
          / SINGLE MEMBER
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .single-member.red-line-bottom.diffuse-shadow.wow.fadeInLeft{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              .member-pic.red-gradient-overlay
                .gradient
                  %img{:alt => "", :src => image_path("team-members/founder.jpg")}/
                  / MEMBER IMAGE
              %h6.red-text 谢承全
              / MEMBER NAME
              .extra-small-text
                创始人 & 玉林供应商协会会长
          / SINGLE MEMBER
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .single-member.purple-line-bottom.diffuse-shadow.wow.fadeInDown{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              .member-pic.purple-gradient-overlay
                .gradient
                  %img{:alt => "", :src => image_path("team-members/joe.jpg")}/
                  / MEMBER IMAGE
              %h6.purple-text Joe
              / MEMBER NAME
              .extra-small-text
                英国高级软件工程师
          / SINGLE MEMBER
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .single-member.green-line-bottom.diffuse-shadow.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
              .member-pic.green-gradient-overlay
                .gradient
                  %img{:alt => "", :src => image_path("team-members/cecilia.jpg")}/
                  / MEMBER IMAGE
              %h6.green-text Cecilia Xie
              / MEMBER NAME
              .extra-small-text
                香港首席运营官
  /
    \=========================
    SECTION: STATS
    \==============================
  %section.stats.fixed-bg
    .color-overlay
      .container
        .row
          / STAT
          .col-lg-4.col-md-4.col-sm-6.wow.fadeInUp{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            .stats-icon.red-text
              %span.icon.icon-box-regular
            %h5.white-text 1,000+
            .stats-text
              高质商品
            .bottom-icon.red-text
              %span.icon.icon-circle-slelected
          / STAT
          .col-lg-4.col-md-4.col-sm-6.wow.fadeInUp{"data-wow-delay" => "0.30s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            .stats-icon.green-text
              %span.icon.icon-add-user-regular
            %h5.white-text 20+
            .stats-text
              合作伙伴
            .bottom-icon.green-text
              %span.icon.icon-circle-slelected
          / STAT
          .col-lg-4.col-md-4.col-sm-6.wow.fadeInUp{"data-wow-delay" => "0.45s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
            .stats-icon.purple-text
              %span.icon.icon-like
            %h5.white-text 2,000+
            .stats-text
              满意好评
            .bottom-icon.purple-text
              %span.icon.icon-circle-slelected

  /
    \=========================
    SECTION: CONTACT US
    \==============================
  %section#contact.get-in-touch
    .container
      / SECTION NUMBER
      .section-number.centered-number
        04
      / SECTION HEADER
      .section-header
        %h2 联系我们
        .sub-heading
          合作双赢

      / FOOTER
      .row.no-gutters
        .footer.clearfix
          .col-lg-3.col-md-3
            .footer-col
              .footer-logo
                %img{:alt => "", :src => image_path("logo-white.png")}/
                / LOGO
          .col-lg-3.col-md-3
            .footer-col
              %h6.green-text 玉林全客福商贸有限公司
              %p.white-text
                广西玉林农批市场，全客福商贸有限公司
          .col-lg-3.col-md-3
            .footer-col
              %h6.purple-text 电话
              %p.white-text
                +86 0775 2081209
              %p.white-text
                +86 13907756736
          .col-lg-3.col-md-3
            .footer-col
              %h6.yellow-text 公众账号
              .social-icons
                %a{:href => ""}
                  %span.icon.icon-sb-facebook
                %a{:href => ""}
                  %span.icon.icon-sb-twitter
                %a{:href => ""}
                  %span.icon.icon-sb-instagram
                %a{:href => ""}
                  %span.icon.icon-sb-google-plus
        .four-lines
          .line.red-line-bottom
          .line.green-line-bottom
          .line.purple-line-bottom
          .line.yellow-line-bottom
